header{
    display: flex;
    justify-content: space-between;
    background-color: #276678;
    height: 10vh;
}
.logo{
    width: 150px;
    height: 77px;
    padding-top: 10px;
}
h1{
    color: #F6F5F5;
    padding-left: 30px;
    font-size: 40px;
}
ul{
    list-style-type: none;
    color: #F6F5F5;
    font-size: 30px;

}
li{
    padding: 15px;
    margin-left: -40px;
}
nav{
    display: flex;
    background-color: #1687A7;

}
footer{
    display: flex;
    background-color: #276678;
    justify-content: center;
}
body{
    background-color: #D3e0ea;
    margin: 0px;
}

.tartalom{
    display: flex;
    flex-direction: row;
}
article{
    display: flex;
    font-size: smaller;
    flex-direction: row;
    color: #F6F5F5;
}
.jelky{
    display: flex;
    flex-direction: row-reverse;
    width: 35vw;
    height: 20vh;
    margin: 1.5vw;
    padding: 1.08vw;
    border-radius: 30px;
    background-color: #276678;
    
}
.karacsony{
    float: left;
}
.evezos{
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
    background-color: #276678;
}
article img{
    display: flex;
    width: 20vw;
    height: 15vh;
    margin-top: 20px;
    padding-right: 15px;
}
.jelkykep{
    display: flex;
    width: 20vw;
    height: 15vh;
}

article h2{
    float: right;
    text-align: left;
}

.baloldal{
    display: flex;
    flex-direction: column;
}

.jobboldal{
    display: flex;
    flex-direction: column;
}
@media (max-width:1100px) {
    .jelky{
        display: flex;
        flex-direction: row;
        width: 35vw;
        height: 30vh;
        margin: 1.5vw;
        padding: 1.08vw;
        border-radius: 30px;
        background-color: #276678;
        
    }
    article{
        font-size: 11px;
    }
    .kisebbmeret{
        font-size: 10px;
    }
    .szoveg{
        display: flex;
        width: 30vw;
    }
    article img{
        height: 10vh;
    }
    .jelkykep{
        height: 10vh;
    }
}
